html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060f1a;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1b3a4b;
  border-radius: 5px;
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("../public/fonts/CeraProBold.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cera Pro Light";
  src: url("../public/fonts/CeraProLight.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cera Pro Thin";
  src: url("../public/fonts/CeraProThin.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Cera Pro Medium";
  src: url("../public/fonts/CeraProMedium.otf");
  font-style: normal;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
